<div class="row">
	<div class="large-6 columns" data-required="true">
		<%= f.label :address_1 %>
		<%= f.text_field :address_1, required: true %>
	</div>
	<div class="large-6 columns" data-required="true">
		<%= f.label :address_2 %>
		<%= f.text_field :address_2, required: true %>
	</div>
	<div class="large-6 columns" data-required="true">
		<%= f.label :postcode %>
		<%= f.text_field :postcode, required: true %>
	</div>
</div>