<div class="flex flex-row">
    <div class="flex flex-col justify-between">
        <div class="duplicate-number boat-number text-8xl font-bold numeral text-gray-300">
            <%= index %>
        </div>
        <a 
            href="#" 
            class="duplicate-remove <%= f.object.persisted? ? '' : 'hidden' %> inline-block my-4 bg-red-700 px-8 py-2 rounded-md text-sm text-white"
            data-action="click->duplicate-fields#remove"
        >
            Remove
        </a>        
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <%= f.hidden_field '_destroy', value: false, class: "duplicate-fields-destroy" %>
        <%= f.hidden_field :id %>
        <div class="p-4">
            <%= f.label :berthing, t('.berthing_or_storage'), class: 'dinghy block' %>
            <%= f.label :berthing, t('.sailboard_berthing'), class: 'sailboard hidden block' %>
            <%= f.select :berthing, 
				[
					['Yes, store it at the club', true], 
					['No, I will bring it to the club when I sail', false]
				],
				{},
				{
					prompt: true,
					class: "max-w-full",
					disabled: @renewal.is_paid?
				}
			%>
        </div>
        <div class="p-4">
            <%= f.label :is_sailboard, "Dinghy or Sailboard?", class: 'block' %>
            <%#= f.check_box :is_sailboard, class: 'is_sailboard w-full h-[42px] block border-1 border-black' %>
            <%= f.select :is_sailboard, [['Dinghy', false], ['Sailboard', true]], {}, {class: 'is_sailboard max-w-full', disabled: @renewal.is_paid?} %>
        </div>
        <div class="p-4 md:w-full">
            <%= f.label :classname, class: 'block' %>
            <%= f.text_field :classname, class: "md:w-full block", disabled: @renewal.is_paid? %>
        </div>
        <div class="p-4 md:w-full">
            <%= f.label :sail_number, class: 'block' %>
            <%= f.text_field :sail_number, class: "md:w-full block", disabled: @renewal.is_paid?  %>
        </div>
        <div class="p-4 md:w-full">
            <%= f.label :hull_colour, class: 'block' %>
            <%= f.text_field :hull_colour, class: "md:w-full block", disabled: @renewal.is_paid?  %>
        </div>
        <div class="p-4 md:w-full">
            <%= f.label :name, class: 'block' %>
            <%= f.text_field :name, class: "md:w-full block", disabled: @renewal.is_paid?  %>
        </div>
        <div class="p-4 md:w-full">
            <%= f.checkbox :insured, disabled: @renewal.is_paid?, data: { target: "required-fields.insured" }, class: "inline-block border-2 border-black rounded-sm" %>
            <%= f.label :insured, "By bringing my boat or sailboard to the club, I confirm it is insured as per the club rules.", class: 'inline' %>
        </div>
    </div>
</div>