<div data-controller="required-fields duplicate-fields no-boats" data-action="change->required-fields#update">
    <section class="p4">
        <h1 class="text-2xl"><%= renewal_step_title %></h1>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2 bg-gray-50 p-9" id="panel4">
            <div>
                <%= f.check_box :no_boats, class: "border-2 border-black rounded-sm", data: { action: "change->no-boats#update", "no-boats-target": "checkbox" }%>
                <%= f.label :no_boats, t('.i_have_no_boats_or_sailboards') %>
            </div>
        </div>
        <div class="content" data-section-content>
            <div id="boat-fields" data-target="no-boats.container duplicate-fields.container">

                <% index = 0 %>
                <%= f.fields_for(:boats) do |builder| %>
                <div class="duplicate-field boat pt-9 bg-white even:bg-gray-50 border-t-2 border-black" id="new-boat" data-target="duplicate-fields.source">
                    <%= render 'renewals/form/boat_fields', f: builder, index: index += 1 %>
                </div>
                <% end -%>
            </div>

        </div>


    </section>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 bg-gray-50 p-9" id="panel4">
        <div data-target="no-boats.add">
            <a href="#" id="add-boat-field" class="inline-block my-4 bg-sky-900 px-8 py-2 rounded-md text-white" data-action="change->required-fields#update click->duplicate-fields#duplicateFields">Add Boat or Sailboard</a>
        </div>
        <div>
            <%= f.submit @renewal.current_step == :declaration ? "Pay Fees" : "Next", 
                class: "my-4 bg-sky-900 px-8 py-2 rounded-md text-white disabled:opacity-75",
                data: { target: "required-fields.submit no-boats.submit" }
            %>
        </div>
    </div>
</div>