<div data-controller="required-fields" data-action="change->required-fields#update">
    <section class="mb-16" id="panel8">
        <h1 class="text-2xl"><%= renewal_step_title %></h1>
        <div class="content" data-section-content>
            <p>
            <h3>Data Protection</h3>
            <%= s('data protection') %>
            </p>
            <%
=begin%>
            <h3>Insurance</h3>
            <p>
                <%= s('insurance') %>
            </p>
            <p>
                If appropriate, tick
                <%= f.check_box :share_data_for_commission, required: false, disabled: @renewal.is_paid? %>
                <%= f.label :share_data_for_commission, s('commission label'), class: 'inline' %>
            </p>
            <%
=end%>

            <h3 class="mt-9">Declaration</h3>
            <p data-required="true">
                <%= f.check_box :declaration_confirmed, required: true, disabled: @renewal.is_paid?, data: {target: "required-fields.insured"} %>
                <%= f.label :declaration_confirmed, s('declaration label'), class: 'inline' %>
            </p>

        </div>
    </section>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 bg-gray-50 p-9" id="panel4">
        <div>
            <%= f.submit @renewal.current_step == :declaration ? "Pay Fees" : "Next", class: "my-4 bg-sky-900 px-8 py-2 rounded-md text-white disabled:opacity-75", data: {target: "required-fields.submit"} %>
        </div>
    </div>
</div>