<div class="grid grid-cols-1 gap-4 md:grid-cols-2">
	<div class="p-4 md:w-full">
		<%= f.label :first_name, class: 'block' %>
		<%= f.text_field :first_name, required: required, class: 'block md:w-full' %>
	</div>
	<div class="p-4 md:w-full">
		<%= f.label :last_name, class: 'block' %>
		<%= f.text_field :last_name, required: required, class: 'block md:w-full' %>
	</div>
	<div class="p-4 md:w-full">
		<%= f.label :phone, class: 'block' %>
		<%= f.text_field :phone, required: required, class: 'block md:w-full' %>
	</div>
	<div class="p-4 md:w-full">
		<%= f.label :email, class: 'block' %>
		<%= f.text_field :email, required: required, class: 'block md:w-full' %>
	</div>
	<div class="p-4 md:w-full">
		<%= f.label :dob, class: 'block' %>
		<%= f.text_field :dob, class: 'block md:w-full' %>
	</div>
</div>
<hr />
<!-- <div class="row">
	<div class="large-2 columns">
		<a href="" id="add-family-member-field" class="button postfix">Additional Members</a>
	</div>
</div>
<div id="member-fields">
</div>
-->