<p>Hi <%= @renewal.primary_member.first_name %>,</p>

<p>We noticed you started renewing your Sheffield Viking Sailing Club membership for <%= Date.current.year %>, but haven't completed the process yet.</p>

<p>Don't worry - your renewal is still saved and you can pick up where you left off!</p>

<p>You can continue editing your membership details <%= link_to 'here', edit_renewal_url(id: @renewal.reference) %> until payment has been made.</p>

<% if @renewal.complete? && !@renewal.is_paid? %>
<p><strong>Good news:</strong> Your renewal form is complete and ready for payment. You can proceed to payment <%= link_to 'here', renewal_url(id: @renewal.reference) %>.</p>
<% else %>
<p>Please complete any remaining sections of your renewal form, including member details, boats, and emergency contacts.</p>
<% end %>

<p>If you have any questions about membership, you can contact <%= link_to "Nick", "mailto:membership@sheffieldviking.org.uk" %></p>

<p>Thanks,</p>

<p>
  The Management Committee,<br>
  Sheffield Viking SC
</p>