<!-- filepath: /Users/james/Projects/James/svscmembership/app/views/admin/renewals/index.html.erb -->
<h1 class="text-2xl font-bold mb-4">Renewals</h1>

<div class="flex justify-between items-center p-4">
  <%= form_with url: request.path, method: :get, local: true, class: "flex items-center" do %>
    <label for="year" class="mr-2">Filter by Year:</label>
    <%= select_tag :year, options_for_select(@years_collection, @year), class: "border border-gray-300 rounded p-2" %>
    <%= submit_tag 'Filter', class: "ml-2 bg-blue-500 text-white rounded p-2" %>
  <% end %>

  <%= link_to 'Download CSV', admin_renewals_path(format: :csv, year: @year), class: "bg-green-500 text-white rounded p-2" %>
</div>

<% if flash[:notice] %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-4" role="alert">
    <span class="block sm:inline"><%= flash[:notice] %></span>
  </div>
<% end %>

<% if flash[:error] %>
  <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
    <span class="block sm:inline"><%= flash[:error] %></span>
  </div>
<% end %>

<table class="min-w-full bg-white border border-gray-200">
  <thead>
    <tr>
      <th class="py-2 px-4 border-b">Primary Member Name</th>
      <th class="py-2 px-4 border-b">Season</th>
      <th class="py-2 px-4 border-b">Reference</th>
      <th class="py-2 px-4 border-b">Email</th>
      <th class="py-2 px-4 border-b">Membership Type</th>
      <th class="py-2 px-4 border-b">Paid</th>
      <th class="py-2 px-4 border-b"></th>
      <th class="py-2 px-4 border-b"></th>
    </tr>
  </thead>
  <tbody>
    <% @renewals.each do |renewal| %>
      <tr>
        <td class="py-2 px-4 border-b"><%= (renewal.primary_member || renewal.secondary_members.first)&.full_name %></td>
        <td class="py-2 px-4 border-b"><%= renewal.created_at.year %></td>
        <td class="py-2 px-4 border-b"><%= renewal.reference %></td>
        <td class="py-2 px-4 border-b"><%= renewal.email %></td>
        <td class="py-2 px-4 border-b"><%= renewal.membership_class %></td>
        <td class="py-2 px-4 border-b"><%= renewal.is_paid? ? 'Yes' : 'No' %></td>
        <td class="py-2 px-4 border-b"><%= link_to :view, admin_renewal_path(renewal.id) %></td>
        <td class="py-2 px-4 border-b">
          <%= button_to 'Delete', soft_delete_admin_renewal_path(renewal.id, request.query_parameters), method: :patch, data: { confirm: 'Are you sure?' }, class: "text-red-500" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="mt-4">
  <%= will_paginate @renewals %>
</div>