<div class="row">
	<div class="large-6 columns">
		<%= f.label :address_1, s('address 1') %>
		<%= f.text_field :address_1 %>
	</div>
	<div class="large-6 columns">
		<%= f.label :address_2, s('address 2') %>
		<%= f.text_field :address_2 %>
	</div>
	<div class="large-6 columns">
		<%= f.label :postcode, s('postcode') %>
		<%= f.text_field :postcode %>
	</div>
</div>