<div class="row">
	<div class="large-6 columns">
		<%= f.label :address_1 %>
		<%= f.text_field :address_1 %>
	</div>
	<div class="large-6 columns">
		<%= f.label :address_2 %>
		<%= f.text_field :address_2 %>
	</div>
	<div class="large-6 columns">
		<%= f.label :postcode %>
		<%= f.text_field :postcode %>
	</div>
</div>