<div class="row">
	<div class="large-6 columns" data-required="true">
		<%= f.label :classname %>
		<%= f.text_field :classname, required: true%>
	</div>
	<div class="large-6 columns" data-required="true">
		<%= f.label :sail_number %>
		<%= f.text_field :sail_number, required: true %>
	</div>
	<div class="large-6 columns">
		<%= f.label :hull_colour %>
		<%= f.text_field :hull_colour %>
	</div>
	<div class="large-6 columns">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="large-6 columns" data-required="true">
		<%= f.label :berthing %>
		<%= f.select :berthing, [['Yes, store it at the club', true], ['No, I will bring it to the club when I sail', false]], :prompt => true, required: true %>
	</div>
</div>