<div class="row">
	<div class="large-6 columns">
		<%= f.label :classname %>
		<%= f.text_field :classname %>
	</div>
	<div class="large-6 columns">
		<%= f.label :sail_number %>
		<%= f.text_field :sail_number %>
	</div>
	<div class="large-6 columns">
		<%= f.label :hull_colour %>
		<%= f.text_field :hull_colour %>
	</div>
	<div class="large-6 columns">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div class="large-6 columns">
		<%= f.label :berthing, "Berthing Required" %>
		<%= f.check_box :berthing %>
	</div>
</div>