<div class="row">
	<div class="large-6 columns">
		<%= f.label :duty_1 %>
		<%= f.text_field :duty_1, :class => "datepicker" %>
	</div>
	<div class="large-6 columns">
		<%= f.label :duty_2 %>
		<%= f.text_field :duty_2, :class => "datepicker" %>
	</div>
	<div class="large-6 columns">
		<%= f.label :duty_3 %>
		<%= f.text_field :duty_3, :class => "datepicker" %>
	</div>
</div>
