<fieldset><legend>Select Membership</legend>
	<div class="row">
		<% Renewal.membership_classes.each do |key, membership_class| %>
			<div class="large-3 columns">
			<ul class="pricing-table <%= membership_class[:ui_class] %>" id="<%= membership_class[:ui_id] %>">
			  <li class="title"><%= membership_class[:title] %></li>
			  <li class="price">&pound;<%= membership_class[:cost] %></li>
			  <li class="description"><%= raw membership_class[:description] %></li>
			  <li class="bullet-item"><%= membership_class[:feature_1] %></li>
			  <li class="bullet-item"><%= membership_class[:feature_2] %></li>
			  <li class="cta-button"><a class="button membership-select" data-value="Full" href="#">Select</a></li>
			</ul>
			</div>
		<% end %>
	</div>
	<%= f.hidden_field :membership_class, required: false %>
</fieldset>
