<div class="row" id="new-member">
	<div class="large-6 columns" <%= mark_required(required) %>>
		<%= f.label :first_name %>
		<%= f.text_field :first_name, required: required %>
	</div>
	<div class="large-6 columns" <%= mark_required(required) %>>
		<%= f.label :last_name %>
		<%= f.text_field :last_name, required: required %>
	</div>
	<div class="large-6 columns" <%= mark_required(required) %>>
		<%= f.label :phone %>
		<%= f.text_field :phone, required: required %>
	</div>
	<div class="large-6 columns" <%= mark_required(required) %>>
		<%= f.label :email %>
		<%= f.text_field :email, required: required %>
	</div>
	<div class="large-6 columns">
		<%= f.label :dob %>
		<%= f.text_field :dob %>
	</div>
</div>
<div class="row">
	<div class="large-2 columns">
		<a href="#" id="add-member-field" class="button postfix">Additional Members</a>
	</div>
</div>
<div id="member-fields">
</div>