<div class="row">
	<div class="large-6 columns">
		<%= f.label :first_name, s('first name') %>
		<%= f.text_field :first_name %>
	</div>
	<div class="large-6 columns">
		<%= f.label :last_name, s('last name') %>
		<%= f.text_field :last_name %>
	</div>
	<div class="large-6 columns">
		<%= f.label :phone, s('phone') %>
		<%= f.text_field :phone %>
	</div>
	<div class="large-6 columns">
		<%= f.label :email, s('email address') %>
		<%= f.text_field :email %>
	</div>
	<div class="large-6 columns">
		<%= f.label :dob, s('DOB') %>
		<%= f.text_field :dob %>
	</div>
</div>