<% content_for :sidebar_button do %>
<button data-action="click->sidebar#toggle" , type="button" class="md:-translate-x-full pl-8">
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>
<% end %>

<% content_for :sidebar do %>
<div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
        <%= sidebar_link key: :about_you, url: [:edit, @renewal, step: :about_you] %>
        <%= sidebar_link key: :membership_class, url: [:edit, @renewal, step: :membership_class] %>
        <%= sidebar_link key: :address, url: [:edit, @renewal, step: :address] %>
        <% if @renewal.includes_family? %>
        <%= sidebar_link key: :your_family, url: [:edit, @renewal, step: :your_family] %>
        <% end %>
        <%= sidebar_link key: :boats, url: [:edit, @renewal, step: :boats] %>
        <%= sidebar_link key: :emergency_contact, url: [:edit, @renewal, step: :emergency_contact] %>
        <%= sidebar_link key: :declaration, url: [:edit, @renewal, step: :dclaration] %>
        <%= sidebar_link key: "Payment", url: [@renewal], data: { turbo: false } %>
    </ul>
</div>
<% end %>