<% content_for :title, "SVSC Membership Renewal" %>
<%= form_for @renewal do |f| %>
	<div class="row">
		<div class="large-12 columns"><%= s('introduction') %></div>
	</div>
	<div class="row">
		<div class="large-12 columns"><%= render 'membership_classes', f: f %></div>
	</div>


	<div class="row off" id="renewal-details">
		<div class="large-12 columns">
			<div id="tabs" class="section-container auto" data-section >
				<section class="active">
					<p class="title" data-section-title><a href="#panel1">About You</a></p>
					<div class="content" data-section-content>
						<%= f.fields_for :primary_member do |builder| %>
							<%= render 'member_fields', {f: builder, required: true} %>
						<% end -%>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel2">Your Address</a></p>
					<div class="content" data-section-content>
						<%= render 'address_fields', f: f %>
					</div>
				</section>
				<section class="family disabled">
					<p class="title" data-section-title><a href="#panel3">Your Family Members</a></p>
					<div class="content" data-section-content>
						<p class="small"><i><%= t('.family-members-hint') %></i></p>
						<%= f.fields_for :secondary_members do |builder| %>
							<%= render 'member_fields', {f: builder, required: false} %>
						<% end -%>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel4">Your Boats</a></p>
					<div class="content" data-section-content>
						<%= f.fields_for :boats do |builder| %>
							<%= render 'boat_fields', f: builder %>
						<% end -%>
					</div>
				</section>
<!--        <section>-->
<!--          <p class="title" id="duties-tab" data-section-title><a href="#panel5">Your Duties</a></p>-->
<!--          <div class="content" data-section-content>-->
            <%# if duties_calendar_enabled? %>
              <%#= f.fields_for :duties do |builder| %>
                <%#= render 'duty_fields', f: builder %>
              <%# end -%>
            <%# else %>
              <%#= s('duties collected separately') %>
            <%# end %>
<!--          </div>-->
<!--        </section>-->
				<section>
					<p class="title" id="emergency-tab" data-section-title><a href="#panel6">Emergency Contact</a></p>
					<div class="content" data-section-content>
						<%= f.text_area :emergency_contact_details, :placeholder => "Name & Telephone number(s)", :rows => 10 %>
					</div>
				</section>
				<section>
					<p class="title" id="comments-tab" data-section-title><a href="#panel6">Comments</a></p>
					<div class="content" data-section-content>
						<%= f.text_area :comment, :placeholder => "Additional Details", :rows => 10 %>
					</div>
				</section>
				<section>
					<p class="title" id="comments-tab" data-section-title><a href="#panel7">100 Club Tickets</a></p>
					<div class="content" data-section-content>
						<%= f.label :one_hundred_club_tickets, "100 Club tickets (£25 per ticket, 3 draws in the season)" %>
						<%= f.number_field :one_hundred_club_tickets, :placeholder => "100 Club Ticket count" %>
						<p>100 Club is a lottery run by SVSC. 50% goes to the cash prize fund, 50% to funding safety boat replacement</p>
					</div>
				</section>
				<section>
					<p class="title" id="declaration-tab" data-section-title><a href="#panel8">Declaration</a></p>
					<div class="content" data-section-content>
						<%= render 'declaration', f: f %>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="row off" id="renewal-button">
		<div class="large-12 columns">
			<ul class="small-block-grid-2 right">
				<li><%= f.submit :value => 'Next', :class => 'button next' %></li>
				<li><%= f.submit :value => 'Renew', :class => 'button renew disabled' %></li>
			</ul>
		</div>
	</div>

<% end -%>

<% content_for :javascript do %>
	<script type="text/javascript">
		$(function(){
			$('.membership-select').click(function(event){
				// Visual
				var table = $(this).parents('.pricing-table');
				$('.pricing-table').removeClass('selected');
				table.addClass('selected');

				// Enable sections
				var sections = $('section.family');
				if(table.hasClass('family')){
					sections.removeClass('disabled');
					sections.find('input').each(function(elem){this.disabled = false});
				} else {
					sections.addClass('disabled');
					sections.find('input').each(function(elem){this.disabled = true});
				}


				// var shown = '.' + table[0].id;
				// $('.membership-specific').not(shown).hide();
				// $(shown).show();

				// Value
				$('input#renewal_membership_class').val($(this).data('value'));
				event.preventDefault();
			});

			$('section.family .title > a').click(function(event){
				if( $('.pricing-table.family.selected').length == 0){
					event.stopImmediatePropagation();
					event.preventDefault();
				}
			});

			$('#renewal-button .next').click(function(event){
				event.stopImmediatePropagation();
				event.preventDefault();

				var currentTab = $('#tabs .active');
				var nextTab = currentTab.nextAll('section').not('.disabled').first()

				nextTab.find('p.title a').click();

				if(nextTab.nextAll('section').not('.disabled').length == 0){

					$('#renewal-button .next').addClass('disabled');
				}
			});

			$('#tabs section p.title a').click(function(event){
				$('#renewal-button .next.disabled').removeClass('disabled');
			});


		});
	</script>
<% end -%>
