<%= form_for @renewal do |f| %>
	<div class="row">
		<div class="large-12 columns"><%= render 'membership_classes', f: f %></div>
	</div>

	<div class="row off" id="renewal-details">
		<div class="large-12 columns">
			<div class="section-container auto" data-section>
				<section class="active">
					<p class="title" data-section-title><a href="#panel1">About You</a></p>
					<div class="content" data-section-content>
						<%= f.fields_for :primary_member do |builder| %>
							<%= render 'member_fields', {f: builder, required: true} %>
						<% end -%>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel2">Your Address</a></p>
					<div class="content" data-section-content>
						<%= render 'address_fields', f: f %>
					</div>
				</section>
				<section class="family disabled">
					<p class="title" data-section-title><a href="#panel3">Your Family Members</a></p>
					<div class="content" data-section-content>
						<%= f.fields_for :secondary_members do |builder| %>
							<%= render 'member_fields', {f: builder, required: false} %>
						<% end -%>

						<div class="cta-button"><a class="button" href="#">Add</a></div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel4">Your Boats</a></p>
					<div class="content" data-section-content>
						<%= f.fields_for :boats do |builder| %>
							<%= render 'boat_fields', f: builder %>
						<% end -%>
						<div class="cta-button"><a class="button" href="#">Add</a></div>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel5">Your Duties</a></p>
					<div class="content" data-section-content>
						<%= f.fields_for :duties do |builder| %>
							<%= render 'duty_fields', f: builder %>
						<% end -%>
					</div>
				</section>
				<section>
					<p class="title" data-section-title><a href="#panel6">Additional Comments</a></p>
					<div class="content" data-section-content>
						<%= f.text_area :comment, :placeholder => "Additional Details", :rows => 10 %>
					</div>
				</section>
			</div>
		</div>
	</div>

	<div class="row off" id="renewal-button">
		<div class="large-11 columns"></div>
		<div class="large-1 columns">
			<%= f.submit :value => 'Renew', :class => 'button disabled' %>
		</div>
	</div>

<% end -%>

<% content_for :javascript do %>
	<script type="text/javascript">
		$(function(){
			$('.membership-select').click(function(event){
				// Visual
				var table = $(this).parents('.pricing-table');
				$('.pricing-table').removeClass('selected');
				table.addClass('selected');
				
				// Enable sections
				var sections = $('section.family');
				if(table.hasClass('family')){
					sections.removeClass('disabled');
					sections.find('input').each(function(elem){this.disabled = false});
				} else {
					sections.addClass('disabled');
					sections.find('input').each(function(elem){this.disabled = true});
				}


				// var shown = '.' + table[0].id;
				// $('.membership-specific').not(shown).hide();
				// $(shown).show();
				
				// Value
				$('input#renewal_membership_class').val($(this).data('value'));
				event.preventDefault();
			});

			$('section.family a').click(function(event){
				if( $('.pricing-table.family.selected').length == 0){
					event.stopImmediatePropagation();
					event.preventDefault();
				}
			});


		});
	</script>
<% end -%>