<div class="row">
	<div class="large-6 columns">
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>
	<div class="large-6 columns">
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>
	<div class="large-6 columns">
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<div class="large-6 columns">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="large-6 columns">
		<%= f.label :dob %>
		<%= f.text_field :dob %>
	</div>



</div>